
body{
  /* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
  background-image: url('../bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Numans', sans-serif;
  color: white;
  height: auto;
  text-align: center;
  }


a {
  color: inherit;
  text-decoration: none;
}

